body {
    --hero-overlay: rgba(0, 0, 0, 0.6);
    --form-overlay: rgba(0, 0, 0, 0.5);
  }

.hero {
    background: url('/hong-kong/images/hero2.jpeg') center/cover no-repeat;
    padding: 3rem 1rem !important;
  }
  
  @supports (background-image: url("/hong-kong/images/hero2.webp")) {
    .hero {
      background-image: url('/hong-kong/images/hero2.webp');
    }
  }

  .form-section {
    background: url('/hong-kong/images/form.jpeg') center/cover no-repeat !important;
  }
  
  @supports (background-image: url("/hong-kong/images/form.webp")) {
    .form-section {
      background-image: url('/hong-kong/images/form.webp') !important;
    }
  }